# fix VIMINIT conflict with neovim
alias vim='VIMINIT="source ~/.config/vim/vimrc" vim'

# ls
alias ls='ls --color=auto'
alias la='ls -A'

# cd
alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index} > /dev/null"; unset index

