# MacOS
.DS_Store

# zsh
.zsh_history
.zsh_sessions/

# vim
viminfo

# git
git/config.local

# zed
zed/conversations
zed/embeddings
zed/prompts
zed/themes

# other
github-copilot/hosts.json
github-copilot/versions.json

